{{- define "key" -}}

{{ $rawKey := .Get "key" }}
{{ $eclipseKey := "" }}


{{ if compare.Eq $rawKey "Ctrl+1" }}
    {{ $eclipseKey = $rawKey }}
    {{ $rawKey = "Ctrl+." }}
{{ end }}

{{ $keys := split $rawKey "+" }}

{{ if not (eq $eclipseKey "") }}
<span class="tooltip">
{{ end }}

{{ range $index, $key := $keys }}

    {{ if gt $index 0 }}
        {{ printf "+" | safeHTML }}
    {{ end }}

    <kbd>{{ $key | safeHTML }}</kbd>


{{ end }}

{{ if not (eq $eclipseKey "") }}
<span class="tooltiptext">Eclipse: {{ $eclipseKey | safeHTML }} </span>
</span>
{{ end }}


{{- end -}}
