{{- define "video" -}}

{{ $displayVideos := .Get "display-videos" }}

{{ if not (eq $displayVideos "none") }}

    {{ $src := .Get "src" }}

    {{ $context := .Get "context" }}
    {{ $baseUrl := $context.Site.BaseURL }}
    {{ if not $baseUrl }}
        {{ $baseUrl = "" }}
    {{ else }}
        {{ $baseUrl = substr $baseUrl 0 (sub (len $baseUrl) 1) }}
    {{ end }}

    {{ $width := .Get "width" }}
    {{ $ext := trim (path.Ext $src) "." }}
    {{ if not (hasPrefix $src "/") }}
        {{ $base_path := .Get "base_path" }}
        {{ $src = (path.Join "/" (path.Join $base_path $src)) }}
    {{ end }}
    {{ $attrs := newScratch }}
    {{ if and (not (eq $width "")) (not (eq $width nil)) }}
        {{ $attrs.Set "width" $width }}
    {{ else }}
        {{ $attrs.Set "width" "50%" }}
    {{ end }}

    {{ $video_base64 := "" }}
    {{ $if_draft := $context.Page.Draft }}

    {{ if $if_draft }}

        {{ $filepath := $src }}

        {{ if not (fileExists $filepath) }}

            {{ $filepath = path.Join "static" $filepath }}

        {{ end }}

        {{ if fileExists $filepath }}

            {{ $video_content := $filepath | readFile }}
            {{ $video_base64 = $video_content | base64Encode }}

        {{ end }}

    {{ end }}

    <center>
        <video {{ printf "width='%s'" ($attrs.Get "width") | safeHTMLAttr }} 

            {{ if eq $video_base64 "" }}

                crossOrigin="anonymous" 

            {{ else }} 

                crossOrigin="use-credentials" 


            {{ end }}

            controls disablepictureinpicture disableremoteplayback playsinline>

            {{ if eq $video_base64 "" }}
                <source src="{{$baseUrl}}{{$src}}" type="video/{{$ext}}"/>

            {{ else }}

                <source src="data:video/{{$ext}};base64, {{ $video_base64 }}" type="video/{{$ext}}"/>

            {{ end }}
        </video>
    </center>

{{ end }}


{{- end -}}
