{{ if .Site.Params.NextPageFooter }}

    <br>
    <br>

    {{ $bookSection := default "docs" .Site.Params.BookSection  }}
    {{ if eq $bookSection "*" }}
      {{ $bookSection = "/" }}{{/* Backward compatibility */}}
    {{ end }}

    {{ $rootPage := .Site.GetPage $bookSection }}
    {{ $currentPage := .Page }}
    {{ $subPages := $currentPage.Pages }}
    {{ $firstSubPage := index $subPages 0 }}

    {{ if $firstSubPage }}

        {{ template "printNextPage" (dict "NextPage" $firstSubPage) }}

    {{ else }}

        {{ template "findAndPrintNextPage" (dict "ParentSection" $rootPage "CurrentSection" $rootPage "TargetPage" .Page) }}

    {{ end }}

{{ end }}



{{ define "findAndPrintNextPage" }}
    {{ $parentSection := .ParentSection }}
    {{ $currentSection := .CurrentSection }}
    {{ $targetPage := .TargetPage }}
    {{ $pageFound := false }}

    {{ range $index, $page := $currentSection.Pages }}
        {{ if eq $page $targetPage }}
            {{ template "findAndPrintNextPageInSiblings" (dict "GrandParentPage" $parentSection "ParentPage" $currentSection "TargetPageIndex" $index) }}
            {{ $pageFound = true }}
        {{ end }}
    {{ end }}

    {{ if not $pageFound }}
        {{ range $index, $page := $currentSection.Pages }}
            {{ template "findAndPrintNextPage" (dict "ParentSection" $currentSection "CurrentSection" $page "TargetPage" $targetPage) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "findAndPrintNextPageInSiblings" }}
    {{ $grandParentPage := .GrandParentPage }}
    {{ $parentPage := .ParentPage }}
    {{ $targetPageIndex := .TargetPageIndex }}

    {{ $siblingPages := $parentPage.Pages }}
    {{ if $siblingPages }}
        {{ $nextPage := index $siblingPages (add $targetPageIndex 1) }}
        {{ if $nextPage }}
            {{ template "printNextPage" (dict "NextPage" $nextPage) }}
        {{ else }}
            {{ template "findAndPrintNextPage" (dict "ParentSection" $grandParentPage "CurrentSection" $grandParentPage "TargetPage" $parentPage) }}
        {{ end }}
    {{ else }}
        {{ template "findAndPrintNextPage" (dict "ParentSection" $grandParentPage "CurrentSection" $grandParentPage "TargetPage" $parentPage) }}
    {{ end }}


{{ end }}

{{ define "findAndPrintNextPageDirect" }}
    {{ $currentPage := .CurrentPage }}
    {{ template "printNextPage" (dict "NextPage" $currentPage.Next) }}

{{ end }}


{{ define "printNextPage" }}
    {{ $nextPage := .NextPage }}
    {{ if $nextPage }}
        <div class="footer-next-page"/>


        <a class="link-next-page" href="{{ $nextPage.Permalink }}">↪&nbsp;{{- partial "numbering" (dict "Page" $nextPage "NumberOnly" false) -}}&nbsp;{{ $nextPage.Title | truncate 50 "..." }}</a>

        </div>
    {{ else }}

        <div class="footer-divider"/></div>
    {{ end }}
{{ end }}
