.combo-box {
    -fx-padding: 0.6em 1.15em 1.15em 1.15em;
    -fx-background-insets: 0,0 0 0.4em 0, 0 0 0.45em 0, 0 0 0.5em 0;
    -fx-background-radius: 0.6em;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 0.3em,0,0, 0.08em);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.combo-box-popup {
    -fx-background-color:derive(orange, 30%);
}

.combo-box-popup .list-view {
    -fx-background-color:derive(orange, 30%);
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 0.6em 1.15em 1.15em 1.15em;
    -fx-background-insets: 0,0 0 0.4em 0, 0 0 0.45em 0, 0 0 0.5em 0;
    -fx-background-radius: 0.6em;
    -fx-background-color:derive(orange, 40%);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color:#d86e3a;
    -fx-padding: 0.6em 1.15em 1.15em 1.15em;
    -fx-background-insets: 0,0 0 0.4em 0, 0 0 0.45em 0, 0 0 0.5em 0;
    -fx-background-radius: 0.6em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,1.0,1.0) , 4,0,0,1 );
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color:#9d4024;
    -fx-padding: 0.6em 1.15em 1.15em 1.15em;
    -fx-background-insets: 0,0 0 0.4em 0, 0 0 0.45em 0, 0 0 0.5em 0;
    -fx-background-radius: 0.6em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,1.0,1.0) , 4,0,0,1 );
}

.menu {
    -fx-alignment:center-right;
}
