#vue-partie {
    -fx-border-color:darkgreen;
}

.petit-espace-horizontal {
    -fx-min-width:1em;
    -fx-max-width:2em;
}

.grand-espace-horizontal {
    -fx-min-width:2em;
    -fx-max-width:10em;
}

.mini-espace-vertical {
    -fx-min-height:1em;
    -fx-max-height:2em;
}

.petit-espace-vertical {
    -fx-min-height:3em;
    -fx-max-height:10em;
}

.grand-espace-vertical {
    -fx-min-height:3em;
    -fx-max-height:20em;
}

