{{ $atelier := .Get "atelier" | safeHTML }}
{{ $url_mb := .Get "url_mb" | safeHTML }}
{{ $url_mot := .Get "url_mot" | safeHTML }}

{{ .Page.Scratch.Set "titleGeneratedFromShortcode" (printf "Remise Moodle %s" $atelier) }}

<h1> Atelier{{ $atelier }}: remise Moodle </h1>

<center>
<div class="excerpt note max-width-75">
<div style="text-align:left">

NOTE:

* avant la date limite, il est possible de refaire la remise (p.ex. en cas d'erreur dans une première remise)

</div>
</div>
</center>

1. Naviguer jusqu'au répertoire contenant mon dépôt Git

1. Créer une archive `.7z` ou `.zip` avec **tous les fichiers** de mon dépôt Git

    <img class="figure" src="/3c6/remise_moodle/archive.png" />

    * `.7z`: Clic-droit sur le dossier => _7-Zip_ => _Ajouter à `3c6_PRENOM_NOM.7z`_

    * `.zip`: Clic-droit sur le dossier => _Envoyer vers_ => _Dossier compressé_

1. Remettre cette archive sur Moodle
    * Groupes de <a href="{{$url_mb}}">Mathieu Bergeron</a>
    * Groupe de <a href="{{$url_mot}}">Marc-Olivier Tremblay</a>

