/* You can add custom styles here. */

// @import "plugins/numbered";


.figure-border{
    border: 1px solid darkgray;
}

.border-black {
    border: 1px solid black;
}

.figure {
    max-width:$figure-max-width !important;
    max-height:$figure-max-height !important;
}

.small-figure {
    max-width:$small-figure-max-width !important;
    max-height:$small-figure-max-height !important;
}


.no-border {
    border: 0px !important;
}

.animation {
    max-width:$figure-max-width;
}

.book-page {
    background: var(--page-background) !important;
    border: 1px solid lightgray;
}

.book-footer {
    background: var(--body-background) !important;
}

h1 {

    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border-top:solid black 2px;
    border-bottom:solid black 2px;

    margin-bottom:3rem !important;
}

.footer-next-page {
    display:flex;
    justify-content:center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border-top:solid black 2px;
    border-bottom:solid black 2px;
}

.footer-divider {
    padding-bottom:0.5rem;
    border-bottom:solid black 2px;
}


kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .3em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 900;
    line-height: 1.4;
    /*color: #242729;*/
    color: black;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.excerpt {
    padding:5px;
    background: var(--excerpt-color);
    border-style:dotted;
    max-width:50% ! important;
}

.note {
    background:orange;
}

.objectifs {
    background:orange;
    max-width:110% ! important;
}


.max-width-75 {
    max-width:75% ! important;
}

.pseudo{
    display:block;
    padding:10px;
    padding-left:20px;
    margin-right:20px;
    border-radius: 10px;
    background-color: #F8F8FF;

    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */

    overflow: visible;
    width: 750px;
}

.pseudo code{
    background-color: #ECECF0;
}

.pseudo ol > li > ol > li > ol{
    list-style-type:lower-roman;
}

.pseudo ol > li > ol > li > ol > li > ol{
    list-style-type:lower-greek;
}

.pseudo li{
    padding-top:20px;
}

.pseudo li > ol > li{
    padding-top:5px;
}

.pseudo li > ul > li{
    padding-top:5px;
}

.pseudo ul{
    list-style-type:square;
}

li > ol {
    list-style-type: lower-alpha;
}


/** disable text select for java code **/
div.highlight pre code[data-lang="java"] {
    //-webkit-touch-callout: none;
    //-webkit-user-select: none;
    //-khtml-user-select: none;
    //-moz-user-select: none;
    //-ms-user-select: none;
    //user-select: none;
    //white-space: break-spaces;
}


/** https://www.w3schools.com/css/css_tooltip.asp **/
.tooltip {
    position: relative;
    display: inline-block;
    padding-bottom:4px;
    border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.f73 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.f73 th {
    border: 1px solid black  !important;
    background-color: #e1e3e5;
}

.f73 tr {
    border: 1px solid black  !important;
    background-color: #e1e3e5;
}

.f73 tr td {
    border: 1px solid black  !important;
    background-color: #e1e3e5;
}
