.conteneur {
    -fx-alignment: center;
    -fx-background-color:gray;
}

.petit-espace-horizontal {
    -fx-min-width:10;
    -fx-max-width:20;
}

.grand-espace-horizontal {
    -fx-min-width:20;
    -fx-max-width:100;
}

.petit-espace-vertical {
    -fx-min-height:30;
}

.grand-espace-vertical {
    -fx-min-height:30;
    -fx-max-height:200;
}

.ressort-horizontal {
    -fx-min-width:10;
    -fx-prefered-width:100;
}


/* http://fxexperience.com/2011/12/styling-fx-buttons-with-css/ */
.gros-bouton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;

    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.gros-bouton:pressed {
    -fx-scale-x:0.9;
    -fx-scale-y:0.9;
}

.gros-bouton:hover {
    -fx-cursor: hand;
}

.bouton-rouge {
    -fx-background-color: 
        linear-gradient(from 90% 100% to 0% 100%, #b72353 0%, #9f2836 100%),
        #a83145,
        #ea5c63,
        radial-gradient(center 50% 50%, radius 100%, #ea5c62, #d33a54);
}

.scroll-bar {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.scroll-bar .track {
   -fx-background-color: derive(black, 75%);
   -fx-border-color: transparent;
   -fx-background-radius: 8;
}

.scroll-bar .thumb {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape : " ";    
    -fx-visibility: hidden;
}

.scroll-pane .viewport {
    -fx-background-color:transparent;
    -fx-background:transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
    -fx-background:transparent;
    -fx-hbar-policy:never;
    -fx-vbar-policy:always;
}

.rendez-vous {
   -fx-padding: 8 15 15 15;
   -fx-background-color: derive(black, 75%);
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
   -fx-background-radius: 8;
}

.vue-rendez-vous{

}

.vue-partie-en-cours {

}

.gros-texte{
   -fx-text-fill: derive(black, 25%);
   -fx-font-size:3em;
}

.dans-rendez-vous{
   -fx-background-color: derive(black, 75%);
}

.gauche{
    -fx-alignment:center-left;
}

.droite{
    -fx-alignment:center-right;
}


#vue-racine {
}

#vue-file-attente {
    -fx-alignment:top-center;
}

#vue-partie {

}

#conteneur-rendez-vous{
    -fx-background:gray;
    -fx-alignment:top-center;
}

#canvas-partie{
}


.logo {
    -fx-min-width:50px;
    -fx-max-width:200px;

    -fx-min-height:50px;
    -fx-max-height:200px;
}

