{{ $atelier := .Get "atelier" | safeHTML }}

{{ .Page.Scratch.Set "titleGeneratedFromShortcode" (printf "Remise Git %s" $atelier) }}

<h1> Atelier{{ $atelier }}: remise GitLab </h1>

<center>
<div class="excerpt note max-width-75">
<div style="text-align:left">

NOTE:

* avant la date limite, il est possible de refaire la remise (p.ex. en cas d'erreur dans une première remise)

</div>
</div>
</center>

1. Ouvrir GitBash à la racine de mon dépôt Git

    * au besion, glisser le chemin dans GitBash 

1. En GitBash, s'assurer d'ajouter tous les nouveaux fichiers

    ```bash
    $ git add .
    ```

1. Faire un commit avec le commentaire `atelier1.1`

    ```bash
    $ git commit -m"atelier{{ $atelier }}"
    ```

    * au besoin, utiliser l'option `--allow-empty`

        ```bash
        $ git commit -m"atelier{{ $atelier }}" --allow-empty 
        ```

1. Pousser le commit sur GitLab

    ```bash
    $ git push
    ```

1. Se connecter à <a href="https://gitlab.com" target="_blank">GitLab</a> et vérifier le commentaire du commit le plus récent

    <img class="small-figure" src="/3c6/remise_gitlab/commit.png" />




